<ion-view title="Floor Map" id="floormap" class=" ">
    
<!--     <ion-header-bar align-title="left" class="bar-positive"> -->
<!-- 		<button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button> -->
<!--   		<h1 class="title">Floor Map</h1> -->
<!-- 	</ion-header-bar> -->
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
      <div>
        <form id="floorMap_form1" class="list">
            
            
            <div class="list">
                <label class = "item item-input item-select item-stable">
                    <div class = "input-label" style="width:30">
                        Select the Floor :
                    </div>
		
                    <select id ="staticMap_id1" ng-model="selectedFloor" ng-change="getSelectedFloor();">
                        <option ng-repeat="floor in floors" value="{{floor.floor_number}}">{{floor.floor_name}}</option>
                    </select>
                </label>
            </div>
            
        </form>  
        
        <div ng-show = "displayMap" class="col text-center">    
            <table >
                <tr>
                    <img id = "pic"  src={{image_id}} alt={{image_name}} align="center" width="500" height="250" >
                    <img src="img/zoom-out.png" align="center"  height="20" ng-click = "zoom(0.9);"/> 
                    <img src="img/zoom-in.png"  align="center" height="20" ng-click = "zoom(1.1);"/>
                </tr>
                
            </table>
        </div>      
      </div>
    </ion-content>
</ion-view>
