<ion-view title="Dashboard">
<!--  	<ion-header-bar align-title="left" class="bar-positive"> -->
<!-- 		<button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button> -->
<!--   		<h1 class="title">Dashboard</h1> -->
<!--   		<button class="button button-icon icon ion-qr-scanner"><span class="badge badge-assertive">5</span></button> -->
<!-- 	</ion-header-bar> -->
	<ion-nav-buttons side="left">
       <button class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
     </ion-nav-buttons>
     <ion-nav-buttons side="right">
       <button class="button button-icon icon ion-qr-scanner"><span class="badge badge-assertive">5</span></button>
     </ion-nav-buttons>
	<ion-content class="has-header" id="qrCodeContent">
		<ion-spinner ng-if="!campusList"></ion-spinner>
		<div ng-if="campusList">
			<label class="item item-input item-select">
		    	<div class="input-label">
			      Current Location
			    </div>
			    <select ng-options="campus.id as campus.name for campus in campusList" ng-model="selectedCampus.id" ng-change="selected_name=(campusList|filter:{id:selectedCampus.id})[0].name">
			    	<option value="">Choose Facility</option>
			    </select>
<!-- 			    <select> -->
<!-- 			      <option ng-repeat="campus in campusList" ng-bind="'{{campus.name}}' + ', '+'{{campus.city}}'"></option> -->
<!-- 			    </select> -->
		  	</label>
		  	<div ng-if="facilityList">
			  	<ion-list >
			  		<div ng-repeat="facility in facilityList track by $index">
					  <div class="item item-divider" ng-bind="facility.name"></div>
					  <ion-item class="item-icon-right" ng-href="#/addAsset/{{selectedCampus.id}}/{{facility.id}}">
					  	Add Asset
					  	<i class="icon ion-ios-arrow-right"></i>
					  </ion-item>
					  <ion-item class="item-icon-right" ng-href="#/generateQR/{{selectedCampus.id}}/{{facility.id}}">
					  	Generate QR
					  	<i class="icon ion-ios-arrow-right"></i>
					  </ion-item>
			  		</div>
				</ion-list>
		  	</div>
		  	<ion-spinner ng-if="!facilityList"></ion-spinner>
		</div>
	</ion-content>
	<ion-footer-bar align-title="center" class="bar-positive">
  		<button id="qrScanBtn" class="button button-clear" ng-click="launchQrScanner()">Scan QR Code</button>
	</ion-footer-bar>
</ion-view>
