<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <!-- <link href="css/style.css" rel="stylesheet">-->

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- load requirejs config -->
    <script src="main.js"></script>
    <!-- load requirejs -->
    <script src="lib/requirejs/require.min.js"></script>
    <!-- load boot-script - it loads configs, routes, runs and bootstraps the app -->
    <script src="app/boot.js"></script>
  </head>
  <body>
    <!-- The nav bar that will be updated as we navigate -->

    <!-- where the initial view template will be rendered -->
    <ion-side-menus enable-menu-with-back-views="false">
	  <!-- Left menu -->
	  <ion-side-menu side="left" >
	  	<ion-list ng-controller="SideMenuCtrl">
		  <ion-item nav-transition="none" menu-close ng-repeat="menuItem in menuItems track by $index" ng-href="#{{menuItem.url}}" ng-click="toggleLeft()">
		    <h2 ng-bind="menuItem.name"></h2>
		  </ion-item>
		</ion-list>
	  </ion-side-menu>
	
	  <ion-side-menu-content>
          <ion-nav-bar class="bar-positive" align-title="center">
            <ion-nav-back-button class="button-icon ion-ios-arrow-left">Back</ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-view></ion-nav-view>
	  </ion-side-menu-content>
	  
	</ion-side-menus>
  </body>
</html>
